<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSUserNotificationUsageDescription</key>
	<string>We need your permission to send notifcations when a routine starts</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>com.sam-clemente.routines-app.reset-routines</string>
	</array>
</dict>
</plist>
